button{
  padding:10px;
  margin:50px;
}
table,tbody,tr,td{
align-content: center;
background-color:white;
border:2px solid orangered;
color:darkcyan
}
th{
  background-color: bisque;
  border:2px solid orangered;
  color:red;
padding: 20px;

margin:10px;
text-align: center;
}