table,tbody,tr,td{
align-content: center;
background-color:darkslategrey;
border:2px solid orangered;
color:beige
}
th{
  background-color: bisque;
  border:2px solid orangered;
  color:red;
padding: 20px;

margin:10px;
text-align: center;
}